In [1]:
2+3

5

In [3]:
num1=10
num2=9.99
num3=num1+num2
num3

19.990000000000002

In [4]:
8-5

3

In [5]:
2*6

12

In [6]:
12/3

4.0

In [7]:
7%3

1

(Returns the reminder from division)

In [8]:
3**2

9

In [9]:
2<5

True

In [10]:
4>10

False

In [11]:
3>=3

True

In [12]:
5==6

False

In [13]:
6!=9

True

float()-given an integer, this function returns a float

In [14]:
float(9)

9.0

In [15]:
float(-99999)

-99999.0

int() - given a float, this function returns an integer. This function does NOT round the input up (ceiling) to the nearest integer – it simply throws out anything after the decimal point (flooring) and returns the number. So the input of 10.6 returns 10, NOT 11. Similarly, 3.25 returns 3.

In [16]:
int(10.6)

10

In [ ]:
int(3.25)

float.is_integer() - tests if a float is finite.

In [18]:
(10.0).is_integer()

True

In [19]:
(10.1).is_integer()

False

Strings are lines of text that are declared with single or double quotes:

In [21]:
simple_string = "hey!"
simple_string

'hey!'

In [22]:
"hello world!"

'hello world!'

In [23]:
escaped = 'can\'t'
escaped

"can't"

In [24]:
not_escaped = "can't"
not_escaped

"can't"

Like numbers, you can concatenate strings (string concatenation):

In [25]:
"happy" + " " + "birthday"

'happy birthday'

In [26]:
"my name is " + "john"

'my name is john'

len() - given a string, this function returns the length of it.

In [28]:
len("Hi")

2

slice() - given a start and stop value, you can access a set of, or single, character(s).

In [29]:
print("Hello"[2])

l

In [30]:
print("Hello"[3])

l

In [31]:
print("Hello"[0])

H

In [32]:
print("Hello"[0:2])

He

string.capitalize() - returns the string with the first letter capitalized.

In [33]:
lower_case_string = "michael"
lower_case_string.capitalize()

'Michael'

In [34]:
("empire").capitalize()

'Empire'

In [35]:
("Empire").capitalize()

'Empire'

string.format() - you can easily format values into strings.

In [38]:
name = "John Doe"
greeting = "My name is {}".format(name)
greeting

'My name is John Doe'

string.strip() - returns the string with the leading and trailing whitespace removed.

In [40]:
are_you_happy = "          Yes       "
are_you_happy.strip()

'Yes'

Lists, which are called Arrays in nearly every other programming language, group various types of data together.

1. create_a_list = []
2. numbers_list = [1, 2, 3]
3. strings_list = ["spam", "eggs", "cheese"]
4. mixed_list = ["Hello", [1, 2, 3], False]

In [41]:
create_a_list = []
create_a_list

[]

In [44]:
numbers_list = [1, 2, 3, 200]
numbers_list

[1, 2, 3, 200]

In [45]:
strings_list = ["batman", "superman", "iron man"]
strings_list

['batman', 'superman', 'iron man']

In [46]:
mixed_list = ["Hello World", [4, 5, 6], False]
mixed_list

['Hello World', [4, 5, 6], False]

You can access elements from the list from either the beginning or end of the list:

In [47]:
numbers_list[0]

1

In [48]:
numbers_list[0:1]

[1]

In [49]:
numbers_list[0:2]

[1, 2]

Watch how you can create a new list just by accessing the elements:

In [51]:
numbers_list = [1, 2, 3, 200]
new_list = numbers_list[0:3]
new_list

[1, 2, 3]

Negative indexes count from the last item backwards:

In [52]:
strings_list = ["batman", "superman", "ironman"]
strings_list[-1]

'ironman'

If you nest a list within another list, you can access the inner list using multiple indexes:

In [53]:
mixed_list = ["Hello World", [4, 5, 6], False]
mixed_list[1][2]

6

Lists can be concatenated:

In [54]:
fruits = ["apples", "grapes", "oranges"]
veggies = ["corn", "kale", "mushrooms"]
grocery_list = fruits + veggies
grocery_list

['apples', 'grapes', 'oranges', 'corn', 'kale', 'mushrooms']

len() - given a list, this function returns the length of it.

In [55]:
numbers_list = [1, 2, 3, 200]
len(numbers_list)

4

slice() - given a start and stop value, you can access a set of elements.

In [56]:
hello = ["H", "e", "l", "l", "o"]
hello[2]

'l'

In [57]:
hello[3]

'l'

In [58]:
hello[0]

'H'

In [60]:
hello[0:2]

['H', 'e']

list.append() - used to add an item to the end of a list

In [61]:
fruits = ["apples", "grapes", "oranges"]
fruits.append("blueberries")
fruits

['apples', 'grapes', 'oranges', 'blueberries']

list.sort() - sort this list

In [62]:
fruits.sort()
fruits

['apples', 'blueberries', 'grapes', 'oranges']

list.pop() - given an index value, remove an element from the list

In [63]:
numbers_list = [1, 2, 3, 200]
numbers_list.pop(2)

3

In [64]:
numbers_list

[1, 2, 200]

Tuples are similar to lists, but they are immutable - which means they cannot be changed after creation.

In [65]:
my_tuple = ["MIchael", "Herman", 31, "Software Developer"]
my_tuple[1]

'Herman'

Yes, you can add two tuples:

In [66]:
first_tuple = (1, 2)
second_tuple = (3, 4)
third_tuple = first_tuple + second_tuple
third_tuple

(1, 2, 3, 4)

list() - used to convert a tuple to a list

In [67]:
first_tuple = (1, 2)
list(first_tuple)

[1, 2]

Because tuples are immutable, many of the list methods don’t work on tuples.

In [68]:
first_tuple = (1, 2)
first_tuplle.append(3)

NameError: name 'first_tuplle' is not defined

Dictionaries are a type of associative array (an object) implemented using hash tables containing key/value pairs. They are unordered.

In [69]:
my_dict = {"Key 1": "Value 1", "name": "michael herman", "pi": 3.14}
my_dict["name"]

'michael herman'

In [70]:
my_dict["Key 1"]

'Value 1'

Comments are used to describe your code so other developers can quickly understand what’s happening (as well as your future self).

In [72]:
# This a comment on its own line
# You create them with the has symbol
var = "Hello" # They can also be on the same line as code